.Suscribe{
	width: 100%;
	height: 443px;
    background-color: #131c25;

}

.Suscribe p{
	color: #ffffff;
	padding-top: 12%;
	text-align: center;
	font-family: GothamRounded;
    font-size: 18px;
    position: relative;
}

body {
	margin: auto;
}
.Enter-your-email{
	width: 330px;
	height: 52px;
	padding-left: 20px;
	margin-left: 38%;
	border-radius: 15px;
	border: solid; color: #4acaff;
	position: relative;
}
/*placeholder*/
::-webkit-input-placeholder { color: white; } 

.input{
	padding-top: 4%;
	border: none;
	background-color: #131c25;
	font-family: GothamRounded;
    font-size: 14px; }

 .lineas{
 	background-image: url(../img/lineas.jpg);
 	width: 100%;
 	height: 7px;
 }
